@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}
body {
  background-color: #ffc872;
}
.header {
  background-color: yellow;
  font-size: 3rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  background-color: yellow;
  font-size: 1.2rem;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 80vh;
  display: block;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputText {
  width: 80%;
  height: 150px;

  padding: 1rem;
  margin: 1rem;

  color: grey;
  font-size: 1.6rem;
}
.submit {
  padding: 0.8rem;
}
.output {
  width: 80%;
  height: 150px;
  border: 1px solid black;

  padding: 1rem;
  margin: 1rem;

  background-color: white;
  color: grey;
  font-size: 1.6rem;
}
